{% extends 'base.html.twig' %}

{% block title %} {{prod.nombre}} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/style-shared.css')}}">
    <link rel="stylesheet" href="{{asset('styles/style-catalogo.css')}}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
            $("document").ready(function() {

                $("#dCMenos").click(function() {
                    var campo = $("#dCShow");
                    var valorCampo = $("#dCShow").val();
                    if (valorCampo > 0) {
                        valorCampo--;
                        campo.val(valorCampo);
                    }

                });
                $("#dCMas").click(function() {
                    var campo = $("#dCShow");
                    var valorCampo = $("#dCShow").val();
                    valorCampo++;
                    campo.val(valorCampo);
                });


                /*Stock en tiendas*/
                $("#prNdElement").click(function() {
                    var showInfo = $("#prStockEspecifico");
                    showInfo.fadeToggle(1000);
                });
                

                $("#segundaPestaña").click(function(){
                    $("#lasReviews").fadeIn();
                    $("#detallesAdContent").fadeOut();
                });
                
                $("#primeraPestaña").click(function(){
                    $("#detallesAdContent").fadeIn();
                    $("#lasReviews").fadeOut();
                });
                setTimeout(function(){ 
                    $('#notificacion').fadeOut('fast');
                    }, 4000
                    );    
            });

            
        </script>
{% endblock %}

{% block body %}
    {% if msg is defined and msg != null %} 
        {% if tipoMessage == 1 %}  
            <div id="notificacion" style="width: 100%; height: 20px; color: #2fbf2f; background-color: #1e1e15;padding: 10px;">{{msg}}</div>        

        {% endif %}

        {% if tipoMessage == 0 %}  
            <div id="notificacion" style="width: 100%; height: 20px; color: #ff7f7f; background-color: #1e1e15;padding: 10px;">{{msg}}</div>        
        {% endif %}    
    {% endif %}

    
    {% include 'nav/nav.html.twig' %}

        <div style="height: 10vh; min-height: 70px; visibility: hidden"></div>

    <div class="mainProductoWrapper">
    {% if prod != null %}
        <div class="prodContainer">
            <div class="maxedMini">
                <img src="{{asset(prod.photo)}}">
            </div>
            <div class="prodMiniaturas flex_rows">
                <img src="{{asset('img/externos/5.jpg')}}">
                <img src="{{asset('img/externos/maxtor/maxtor1.jpg')}}">
                <img src="{{asset('img/externos/maxtor/maxtor2.jpg')}}">
                <img src="{{asset('img/externos/maxtor/maxtor3.jpg')}}">
            </div>
        </div> 
        <div class="prodDescriptionWrapper">
        <h1 id="desTitulo" style="padding: 8px 8px 8px 8px;">{{prod.nombre}}</h1>
        <h2 id="desDesc" style="padding: 8px 8px 8px 8px;">{{prod.precio}}€</h2>
        <div style="border: solid; border-color: #6600cc; border-width: 3px 0; height: 0.5vh; width: 100%; margin: 10px 0"></div>
                <div id="desCantidadesWrapper">
                    {% if stock is empty %}                    
                                            
                        <div id="noDisp"> Lo sentimos, este producto no está disponible </div>                    
                    {% else %}
                        <span id="desCantidad">Cantidad: </span>
                        <div id="dCant2">
                            <a id="dCMenos">-</a>
                            <div id="dCcampo">
                                <input id="dCShow" min="0" value="1">
                            </div>
                            <a id="dCMas">+</a>

                        </div>
                    {% endif %}

                </div>
                {% if stock is not empty %}                    
                        
                    
                    <div id="botonesCompras" class="flex_rows">
                        <a>Añadir a la cesta</a>
                        <a>COMPRAR</a>
                    </div>
                    <div id="prStockWrapper" class="flex_rows">
                        <div id="prStElement">
                            <span style="margin-right: 12px;">Stock:</span>
                            <span id="prStock">{{ stock|length }}</span>

                            <span>Disponibles</span>
                        </div>
                        <div id="prNdElement">
                            Descubre donde
                            <span style="font-size: 12px; border-radius: 50%; border: solid transparent;">&or;</span>
                        </div>
                    </div>
                    <div id="prStockEspecifico">

                    {% set arrayTiendas = '' %}
                    {% set productosEnTienda = '' %}
                    {% for unidad in stock %}                
                        {% if arrayTiendas is empty %}                    
                            {% set arrayTiendas = [unidad.tienda] %}
                        {% else %}
                            {% if unidad.tienda not in arrayTiendas %}
                                {% set arrayTiendas = arrayTiendas|merge([unidad.tienda]) %}
                            {% endif %}
                        {% endif %}
                    
                    {% endfor %}

                    {% if arrayTiendas is not empty %}
                        {% for shop in arrayTiendas %}                
                            {% for unit in stock %}
                                {% if unit.tienda == shop %}
                                    
                                    {% if productosEnTienda is empty %}
                                        {% set productosEnTienda = [unit] %}
                                    {% else %}                                
                                        {% set productosEnTienda = productosEnTienda|merge([unit]) %}                                                               
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            
                            <p>{{productosEnTienda|length}} Disponibles - {{shop.nombre}} - {{shop.direccion}}</p>
                            {% set productosEnTienda = "" %}
                        {% endfor %}
                    {% endif %}
                        
                {% endif %}

            </div>
                <div id="infoEnvio">
                    <div id="mainEnvio"><img src="{{asset('img/Envios/envios1.jpg')}}"></div>
                    <div id="restoEnvios">
                        <h1>Envio rápido y seguro</h1>
                        <ul>
                            <li><img src="{{asset('img/Envios/envios2.jpg')}}"></li>
                            <li><img src="{{asset('img/Envios/envios3.png')}}"></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div style="height: 8vh; width: 100%"></div>

            <div id="detallesAdiccionalesWrapper">
                <div id="detallesAdCategorias">
                    <span id="primeraPestaña">Detalles del producto</span>
                    <span id="segundaPestaña">Reviews</span>
                </div>
                <!-- <div style="height:60%; border: solid thin black;"></div> -->
                <div id="detallesAdContent">
                    <p>
                        <pre style="font-family: 'Lato', sans-serif; font-size: 13px">
            MAXTOR EXTERNAL 2.5" 2TB M3 PORTABLE BACKUP HARD DRIVE - BLACK

            HX-M201TCBM


            En la caja:


            M3 Portable External Hard Drive

            Cable USB

            Guía de instalación rápida

            Software precargado en el disco

            Documentación del usuario en formato electrónico (PDF)




            Maxtor M3 Portable External Hard Drive

            The Maxtor M3 Portable External Hard Drive delivers handy portable storage. 
            It is easy to take wherever you go, and has ample capacity of up to 4TB. 
            The durable black design stands up to the rigors of daily use.




            Handy portable storage

            Durable black design

            SafetyKey TM protection for your data

            SuperSpeed USB 3.0 (Max): 5.0Gb/s



            Compatible con:


            Playstation 4 (as additional external storage for games)

            Xbox one (as additional external storage for games)

            Windows XP/Vista/7/8.1/10

            Apple Time Machine

            Mac OS X (including High Sierra)

            Laptops/Macbooks with USB 2.0 or USB 3.0 Sockets

            Smart TVs

            Android TV Boxes

                        </pre>
                    </p>
                </div>
            <div id="lasReviews">
                <div class="review">
                        <h3>Este producto es muy bueno</h3>
                    <p>
                        El productó me encantó, muy util.
                    </p>
                </div>
                <div class="review">
                        <h3>Envio Rápido</h3>
                    <p>
                        2 dias en llegar, gracias.
                    </p>
                </div>
                <div class="review">
                        <h3>Rapido y en buen estado</h3>
                    <p>
                        Todo en orden.
                    </p>
                </div>
            </div>
            
            </div>
            <div id="sugerencias">
                <div><h1>Sugerencias</h1></div>
                <ul id="listaSugerencias">
                    <li><img src="{{asset('img/externos/3.jpg')}}"></li>
                    <li><img src="{{asset('img/externos/6.jpg')}}"></li>
                    <li><img src="{{asset('img/externos/7.jpg')}}"></li>                
                </ul>

            </div>



    {% else %}
        Error, sin producto
    {% endif %}

    </div>

        
{% endblock %}

{% block footer %}

    {{ include('footer/footer.html.twig')}}

{% endblock %}
