
{% extends 'base.html.twig' %}

{% block title %} Registro {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/style-shared.css')}}">
    <link rel="stylesheet" href="{{asset('styles/style-usuario.css')}}">
{% endblock %}
{% block javascripts %}
    {% if usrreg is defined and usrreg == 0 %}        
        <script>
            $('head').before('<div id="usrreg" style="height: 20px; color: #ff7f7f; background-color: #e0e0d2;padding: 10px;">{{msg}}</div>');
            setTimeout(function(){ 
                $('#usrreg').fadeOut('fast');
                }, 4000
                );
        </script>        
    {% endif %}
    <script>
        (function($) {
            $('#miFormulario').submit(function() {
                $("#error").remove();
                var nombre = $("#nombre").val(), 
                    apell = $("#apell").val(),
                    email = $("#email").val(),
                    domicilio = $("#domicilio").val(),
                    id = $("#username").val(),
                    passwd = $("#passwd").val(),
                    passwd2 = $("#passwd2").val();

                var inputVal = [nombre, apell, email, domicilio, username, passwd, passwd2],
                    inputMessage = ["nombre", "apellidos", "email", "domicilio", "username", "passwd", "passwd2"],
                    textId = ["#lNombre", "#lApell", "#lEmail", "lDomic", "#lUsername", "#lPasswd", "#lPasswd2"];

                for(var i=0;i<inputVal.length;i++){
                    inputVal[i] = $.trim(inputVal[i]);
                    console.log(inputVal[i]);
                    if ( inputVal[i] == null || inputVal[i] === "") {
                        console.log(inputVal[i] + ' incorrecto');
                        invalidEntry(i);
                        return false;
                    }
                }
                if( !isEmail(email) ){
                    console.log("Email incorrecto");
                    invalidEmail();
                    return false;
                }else if(passwd != passwd2){
                    console.log("Contraseñas incorrectas");
                    notEqual();
                    return false;
                }
                console.log("Registro completado");
                return true;
                
                
                function invalidEntry(i) {
                    console.log(textId[i] + ' incorrecto');
                    $(textId[i]).after("<p id='error' style='font-size: 14px; color: red' > El campo " + inputMessage[i] + " no es válido.</p>");
                }

                function invalidEmail(){
                    $("#lEmail").after("<p id='error' style='font-size: 14px; color: red' > Email no válido.</p>");
                }
                
                function notEqual(){
                    $("#lPasswd").after("<p id='error' style='font-size: 14px; color: red' > Las contraseñas no coiniden.</p>");
                }
                function isEmail(email) {
                    console.log(email);
                    var regex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                    return regex.test(email);
                }
            });

            $("input[type='text']").change(function() {
                $("#error").remove();
            });

        })(jQuery);

    </script>
{% endblock %}
{% block body %}
     <div class="flex_cols" id="contenedor-inic">
            <div id="logo-inic">
                <a href="path('login')">
                    <img src="{{asset('img/logo_horizontal.png')}}" width="100%">
                </a>
            </div>
            <div id="contenedor-form">
                <form method="post" id="miFormulario">
                    <h1 style="margin-top: 40px;">Crear cuenta</h1>
                    <label id="lNombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre">
                    <label id="lApell">Apellidos</label>
                    <input type="text" id="apell" name="apell">
                    <label id="lEmail">E-mail</label>
                    <input type="text" id="email" name="email">
                    <label id="lDomic">Domicilio</label>
                    <input type="text" id="domicilio" name="domicilio">
                    <label id="lId">Nombre de usuario</label>
                    <input type="text" id="username" name="username">
                    <label id="lPasswd">Contraseña</label>
                    <input type="password" id="passwd" name="passwd">
                    <label id="lPasswd2">Confirma tu contraseña</label>
                    <input type="password" id="passwd2" name="passwd2"><br><br>
                    <div id="crear-nueva-cuenta">
                        <input id="boton-nueva-cuenta" type="submit" value="Crear una nueva cuenta">
                    </div>
                </form>
            </div>            
        </div>
        
{% endblock %}

{% block footer %}

    {{ include('footer/footer.html.twig')}}

{% endblock %}


